<div class="products-grid-container">
  <div class="products-grid" [style]="{'grid-template-columns': '1fr ' + (type != 'MANAGEMENT' ? ' 1fr' : '')}">
    <nb-card *ngFor="let product of products"
             class="product-card horizontal"
             (click)="setSelectedProduct(product)"
             (dblclick)="editProduct.emit(product)"
             [style]="product == selectedProduct ? {'background-color': 'rgba(0, 0, 0, 0.4)', 'border-color': 'white'} : {}"
             [class]=" (type == 'MANAGEMENT') ? 'selectable-product' : ''">
      <div class="main-section horizontal gap">
        <img [src]="product.imageLink" [alt]="'Image of ' + product.name">
        <div class="vertical" style="width: 100%">
          <h6>{{product.name}}</h6>
          <div class="horizontal price-tag">
            <h6 [style]="product.discountPercentage! > 0 && type != 'MANAGEMENT' ?
              {'text-decoration': 'line-through', 'text-decoration-thickness': '3px', 'text-decoration-color': '#ff4057'} : {}">
              €{{product.priceEuro?.toFixed(2)}}</h6>
            <h5 class="discount-color" [hidden]="product.discountPercentage! == 0 || type == 'MANAGEMENT'">
              €{{(product?.priceEuro! - ((product?.discountPercentage! / 100) * product?.priceEuro!)).toFixed(2)}}</h5>
            <h5 [hidden]="product.discountPercentage! == 0 || type == 'MANAGEMENT'">-{{product.discountPercentage}}%!</h5>
          </div>
          <hr style="width: 100%">
          <p class="ellipsis">{{product.description}}</p>
        </div>
      </div>
      <div class="sub-section vertical">
        <button nbButton fullWidth [routerLink]="'/product/' + product.id"><mat-icon>search</mat-icon>To product</button>
        <div [hidden]="type != 'CART'" class="vertical cart-options">
          <button status="danger" nbButton fullWidth (click)="removeFromCart(cartProducts![products?.indexOf(product)!])"><mat-icon>delete</mat-icon>Remove</button>
          <nb-form-field>
            <p nbPrefix>x</p>
            <nb-select fullWidth [(ngModel)]="cartProductCountsArray![products?.indexOf(product)!]" (ngModelChange)="updateCount(cartProducts![products?.indexOf(product)!])">
              <nb-option *ngFor="let number of getRangeOneHundred()" [value]="number">{{number}}</nb-option>
            </nb-select>
          </nb-form-field>
          <div class="fullPrice horizontal">
            <label class="width-50">Subtotal</label>
            <label class="width-50 align-end">€{{((product?.priceEuro! - ((product?.discountPercentage! / 100) * product?.priceEuro!)) * cartProductCountsArray![products?.indexOf(product)!]).toFixed(2)}}</label>
          </div>
        </div>
        <div [hidden]="type != 'SHOP'" class="vertical">
          <button status="success" nbButton fullWidth (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon>Add to cart</button>
        </div>
        <div class="vertical" [hidden]="type != 'MANAGEMENT'">
          <div class="horizontal">
            <label class="width-50">Stock</label>
            <label class="width-50 align-end">{{product.stock}}</label>
          </div>
          <div class="horizontal">
            <label class="width-50">Discount</label>
            <label class="width-50 align-end">{{product.discountPercentage}}%</label>
          </div>
        </div>
      </div>
    </nb-card>
  </div>
</div>
