img {
  height: 55px;
}

.navbar {
  margin-left: 1rem;
  margin-right: 1rem;
  width: calc(100vw - 4.5rem);
}

.tabs {
  height: 100%;
  margin-left: 1vw;
}

a {
  text-decoration: none;
  border-bottom: white 4px solid;
}

a:hover {
  cursor: pointer;
  border-bottom: #ff4057 8px solid;
}
