<nb-layout>
  <nb-layout-header><app-navbar></app-navbar></nb-layout-header>
  <nb-layout-column>
    <nb-card class="full-height width-100">
      <nb-card-header class="horizontal"><mat-icon>receipt</mat-icon><h4>MY ORDERS ({{transactions?.length}})</h4></nb-card-header>
      <nb-card-body>
        <app-order-list [transactions]="transactions"></app-order-list>
      </nb-card-body>
      <nb-card-footer></nb-card-footer>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
