<body>
  <nb-card class="management-card">
    <nb-card-header class="horizontal"><mat-icon>add_box</mat-icon><h4>PRODUCT AANMAKEN</h4></nb-card-header>
    <nb-card-body>
      <app-product-edit (setProducts)="setProducts()"></app-product-edit>
    </nb-card-body>
    <nb-card-footer class="gap horizontal">
      <button nbButton fullWidth status="primary" (click)="createProduct()" [disabled]="!createProductComponent?.allFieldsFilled()">Aanmaken</button>
      <button nbButton fullWidth (click)="cancelProduct()">Annuleren</button>
    </nb-card-footer>
  </nb-card>
  <nb-card class="management-card">
    <nb-card-header class="horizontal"><mat-icon>edit</mat-icon><h4>PRODUCT AANPASSEN</h4></nb-card-header>
    <nb-card-body class="product-list-container" [hidden]="editingProduct">
      <app-product-list [products]="products" [type]="'MANAGEMENT'" (updateSelectedProduct)="this.selectedProduct = $event" (editProduct)="editProduct($event)"></app-product-list>
    </nb-card-body>
    <nb-card-body [style]="!editingProduct ? {'display': 'none'} : {}"><app-product-edit (setProducts)="setProducts()"></app-product-edit></nb-card-body>
    <nb-card-footer class="gap horizontal">
      <button [style]="editingProduct ? {'display': 'none'} : {}"
              [disabled]="selectedProduct == undefined"
              (click)="editProduct(selectedProduct!)"
              nbButton fullWidth status="primary">Aanpassen</button>
      <button [style]="editingProduct ? {'display': 'none'} : {}"
              [disabled]="selectedProduct == undefined"
              (click)="deleteProduct()"
              nbButton fullWidth status="danger">Verwijderen</button>
      <button [style]="!editingProduct ? {'display': 'none'} : {}"
              [disabled]="!editProductComponent?.allFieldsFilled()"
              (click)="saveEditedProduct()"
              nbButton fullWidth status="primary">Opslaan</button>
      <button [style]="!editingProduct ? {'display': 'none'} : {}"
              (click)="editingProduct = false; editProductComponent.clear()"
              nbButton fullWidth>Annuleren</button>
    </nb-card-footer>
  </nb-card>
</body>
