<body>
  <nb-card class="card create-product-card">
    <nb-card-header class="horizontal"><mat-icon>add_box</mat-icon><h4>CREATE PRODUCT</h4></nb-card-header>
    <nb-card-body>
      <app-product-edit (setProducts)="setProducts()"></app-product-edit>
    </nb-card-body>
    <nb-card-footer class="gap horizontal">
      <button nbButton fullWidth status="primary" class="full-height" (click)="createProduct()" [disabled]="!createPostAllowed()">Create product</button>
      <button nbButton fullWidth class="full-height" (click)="cancelProduct()">Cancel</button>
    </nb-card-footer>
  </nb-card>
  <nb-card class="card edit-product-card products-scroll-card">
    <nb-card-header class="horizontal"><mat-icon>edit</mat-icon><h4>EDIT PRODUCT</h4></nb-card-header>
    <nb-card-body class="product-list-container" [hidden]="editingProduct">
      <app-product-list [products]="products" [type]="'MANAGEMENT'" (updateSelectedProduct)="this.selectedProduct = $event" (editProduct)="editProduct($event)"></app-product-list>
    </nb-card-body>
    <nb-card-body [style]="!editingProduct ? {'display': 'none'} : {}"><app-product-edit (setProducts)="setProducts()"></app-product-edit></nb-card-body>
    <nb-card-footer class="gap horizontal">
      <button [style]="editingProduct ? {'display': 'none'} : {}"
              class="full-height"
              [disabled]="selectedProduct == undefined"
              (click)="editProduct(selectedProduct!)"
              nbButton fullWidth status="primary">Edit product</button>
      <button [style]="editingProduct ? {'display': 'none'} : {}"
              class="full-height"
              [disabled]="selectedProduct == undefined"
              (click)="deleteProduct()"
              nbButton fullWidth status="danger">Delete product</button>
      <button [style]="!editingProduct ? {'display': 'none'} : {}"
              class="full-height"
              [disabled]="!editPostAllowed()"
              (click)="saveEditedProduct()"
              nbButton fullWidth status="primary">Save</button>
      <button [style]="!editingProduct ? {'display': 'none'} : {}"
              class="full-height"
              (click)="editingProduct = false; editProductComponent.clear()"
              nbButton fullWidth>Cancel</button>
    </nb-card-footer>
  </nb-card>
</body>
