body {
  display: flex;
  gap: 2.25rem;
}

nb-card-footer {
  display: flex;
}

.product-list-container {
  padding: 0;
}

.management-card {
  width: calc(50% - 1.125rem);
}

nb-card {
  height: 78.4vh;
}
