<div class="vertical gap">
  <div class="horizontal gap">
    <div class="vertical">
      <label>Name</label>
      <input nbInput fullWidth [(ngModel)]="product.name" placeholder="New Product">
    </div>
    <div class="vertical">
      <label>Price</label>
      <nb-form-field>
        <p nbPrefix>€</p>
        <input nbInput fullWidth type="number" [(ngModel)]="product.priceEuro" placeholder="0.00">
      </nb-form-field>
    </div>
  </div>
  <div class="vertical">
    <label>Description</label>
    <textarea nbInput fullWidth [(ngModel)]="product.description" placeholder="General description of product"></textarea>
  </div>
  <div class="vertical">
    <label>Image URL</label>
    <input nbInput fullWidth [(ngModel)]="product.imageLink" placeholder="https://www.google.com/image">
  </div>
  <div class="horizontal gap">
    <div class="horizontal">
      <div class="vertical">
        <label>Stock</label>
        <input nbInput fullWidth disabled="true" [(ngModel)]="product.stock" type="number">
      </div>
      <div class="vertical">
        <label>Add stock</label>
        <input nbInput fullWidth [(ngModel)]="addedStock" type="number">
      </div>
    </div>
    <div class="vertical">
      <label>Discount</label>
      <nb-form-field>
        <p nbSuffix>%</p>
        <input nbInput fullWidth type="number" [(ngModel)]="product.discountPercentage">
      </nb-form-field>
    </div>
  </div>
</div>
