<div class="vertical gap">
  <div class="horizontal gap">
    <div class="vertical">
      <label>Productnaam</label>
      <input nbInput fullWidth [(ngModel)]="product.name" placeholder="Nieuw Product">
    </div>
    <div class="vertical">
      <label>Productprijs</label>
      <nb-form-field>
        <p nbPrefix>€</p>
        <input nbInput fullWidth type="number" [(ngModel)]="product.priceEuro" placeholder="0.00">
      </nb-form-field>
    </div>
  </div>
  <div class="vertical">
    <label>Productomschrijving</label>
    <textarea nbInput fullWidth [(ngModel)]="product.description" placeholder="Algemene omschrijving van het product"></textarea>
  </div>
  <div class="vertical">
    <label>URL Afbeelding</label>
    <input nbInput fullWidth [(ngModel)]="product.imageLink" placeholder="https://www.google.com/image">
  </div>
  <div class="horizontal gap">
    <div class="vertical">
      <label>Voorraad</label>
      <input nbInput fullWidth [(ngModel)]="product.stock" type="number" placeholder="0">
    </div>
    <div class="vertical">
      <label>Kortingspercentage</label>
      <nb-form-field>
        <p nbSuffix>%</p>
        <input nbInput fullWidth type="number" [(ngModel)]="product.discountPercentage" placeholder="0">
      </nb-form-field>
    </div>
  </div>
</div>
