<nb-layout>
  <nb-layout-header fixed><app-header></app-header></nb-layout-header>
  <nb-layout-column>
    <nb-card class="width-100">
      <nb-card-header class="horizontal">
        <mat-icon>login</mat-icon><h4>LOG IN</h4>
      </nb-card-header>
      <nb-card-body class="vertical gap">
        <div class="vertical">
          <label>E-mail address</label>
          <input nbInput fullWidth [status]="(!logInCalled || loginCredentials.email != '') ? 'basic' : 'danger'" [(ngModel)]="loginCredentials.email" placeholder="Enter e-mail address">
          <small class="horizontal" style="color: #ff3d71" [hidden]="!logInCalled || loginCredentials.email != ''">
            <div><nb-icon  icon="alert-circle-outline"></nb-icon></div>
            E-mail address field is empty.
          </small>
        </div>
        <div class="vertical">
          <label>Password</label>
          <input nbInput fullWidth type="password" [status]="(!logInCalled || loginCredentials.password != '') ? 'basic' : 'danger'" [(ngModel)]="loginCredentials.password" placeholder="Enter password">
          <small class="horizontal" style="color: #ff3d71" [hidden]="!logInCalled || loginCredentials.password != ''">
            <div><nb-icon icon="alert-circle-outline"></nb-icon></div>
            Password field is empty.
          </small>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton fullWidth status=primary (click)="logIn()">Log in</button>
      </nb-card-footer>
    </nb-card>
    <nb-card class="width-100">
      <nb-card-header>
        <p>Don't own an account yet?</p>
      </nb-card-header>
      <nb-card-body class="vertical">
        <button nbButton (click)="this.router.navigate(['/register'])">To register</button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="logo-column">
    <img alt="Game Center Logo" src="assets/images/Game%20Center%20Logo.png" class="big-logo">
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
