nb-accordion-item-header {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  align-items: stretch;
}

nb-accordion-item-header .vertical {
  justify-content: center;
}

nb-list-item {
  height: 10vh;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nb-list {
  border: none;
}

nb-accordion {
  border: none !important;
}

nb-list-item:first-child, nb-accordion:first-child {
  border-top: none;
}

nb-list-item:last-child, nb-accordion:last-child {
  border-bottom: none;
}

nb-accordion-item:last-child nb-list-item {
  border-bottom: 1px solid #151a30;
}

img {
  object-fit: contain;
  height: 100%;
  width: 50px;
}

.accordion-container {
  max-height: 100%;
  overflow-y: scroll;
  height: 100%;
}

nb-accordion {
  box-shadow: none;
  border: .0625rem solid #101426;
}
