<nb-layout>
  <nb-layout-header><app-navbar></app-navbar></nb-layout-header>
  <nb-layout-column class="horizontal">
    <div class="left-section vertical">
      <nb-card class="order-card">
        <nb-card-header class="horizontal"><mat-icon>payment</mat-icon><h4>AFREKENEN</h4></nb-card-header>
      </nb-card>
      <nb-card class="discount-code-card">
        <nb-card-header class="horizontal"><mat-icon>card_giftcard</mat-icon><h4>KORTINGSCODE</h4></nb-card-header>
      </nb-card>
    </div>
    <nb-card class="right-section">
      <nb-card-header class="horizontal"><mat-icon>shopping_cart</mat-icon><h4>MIJN WINKELWAGEN</h4></nb-card-header>
      <nb-card-body><app-product-list [products]="products" [cartProductsCountArray]="cartProductsCountArray" [type]="'CART'"></app-product-list></nb-card-body>
      <nb-card-footer></nb-card-footer>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
