<nb-layout>
  <nb-layout-header><app-navbar></app-navbar></nb-layout-header>
  <nb-layout-column class="horizontal responsive-height-column">
    <nb-card class="left-section order-card card">
      <nb-card-header class="horizontal"><mat-icon>payment</mat-icon><h4>CHECKOUT</h4></nb-card-header>
      <nb-card-body class="vertical">
        <div class="horizontal">
          <label class="width-50">Items ({{productCount}})</label>
          <label class="width-50 align-end">€{{fullPriceProducts.toFixed(2)}}</label>
        </div>
        <div class="horizontal">
          <label class="width-50">Postage costs</label>
          <label class="width-50 align-end">€{{(postageCosts).toFixed(2)}}</label>
        </div>
        <div>
          <hr>
        </div>
        <div class="horizontal">
          <label class="width-50">Total</label>
          <label class="width-50 align-end">€{{(fullPriceProducts + postageCosts).toFixed(2)}}</label>
        </div>
      </nb-card-body>
      <nb-card-footer><button status="success" nbButton fullWidth [disabled]="products.length == 0" (click)="toPayment()">Proceed to checkout</button></nb-card-footer>
    </nb-card>
    <nb-card class="right-section card products-scroll-card">
      <nb-card-header class="horizontal"><mat-icon>shopping_cart</mat-icon><h4>MY SHOPPING CART ({{cartProducts.length}})</h4></nb-card-header>
      <nb-card-body><app-product-list [products]="products" [cartProducts]="cartProducts" [cartProductsCountArray]="cartProductsCountArray" [type]="'CART'" (setProducts)="setProducts()"></app-product-list></nb-card-body>
      <nb-card-footer></nb-card-footer>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
