<div class="products-grid-container">
  <div class="products-grid" [style]="{'grid-template-columns': '1fr ' + (type != 'MANAGEMENT' ? ' 1fr' : '')}">
    <nb-card *ngFor="let product of products"
             class="product-card horizontal"
             (click)="setSelectedProduct(product)"
             (dblclick)="editProduct.emit(product)"
             [style]="product == selectedProduct ? {'background-color': 'rgba(0, 0, 0, 0.4)'} : {}"
             [class]=" (type == 'MANAGEMENT') ? 'selectable-product' : ''">
      <div class="main-section horizontal gap">
        <img [src]="product.imageLink">
        <div class="vertical" style="width: 100%">
          <h6>{{product.name}}</h6>
          <h6>€{{product.priceEuro?.toFixed(2)}}</h6>
          <hr style="width: 100%">
          <p class="ellipsis">{{product.description}}</p>
        </div>
      </div>
      <div class="sub-section">
        <div [hidden]="type != 'SHOP'"></div>
        <div class="vertical" [hidden]="type != 'MANAGEMENT'">
          <div class="horizontal flex-wrap">
            <h6>Voorraad:</h6><h6>{{product.stock}}</h6>
          </div>
          <div class="horizontal flex-wrap">
            <h6>Korting:</h6><h6>{{product.discountPercentage}}%</h6>
          </div>
        </div>
      </div>
    </nb-card>
  </div>
</div>
