<nb-layout>
  <nb-layout-header><app-navbar></app-navbar></nb-layout-header>
  <nb-layout-column class="responsive-height-column">
    <nb-card class="filters-card responsive-card card">
      <nb-card-header class="horizontal"><mat-icon>filter_list</mat-icon><h4>FILTERS</h4></nb-card-header>
      <nb-card-body class="vertical gap">
        <nb-form-field>
          <input nbInput fullWidth [(ngModel)]="searchString" (keydown.enter)="search()" class="search-input" placeholder="Search for items...">
          <button nbSuffix nbButton ghost fullWidth class="full-height search-button" (click)="search()"><mat-icon>search</mat-icon></button>
        </nb-form-field>
        <div class="vertical">
          <label>Maximum Price: {{(maximumPrice == 100 ? '> €' + (maximumPrice).toFixed(2) : '€' + (maximumPrice).toFixed(2))}}</label>
          <input type="range" min="0" max="100" [(ngModel)]="maximumPrice" (change)="filterPrice()">
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card class="products-card responsive-card card products-scroll-card">
      <nb-card-header class="horizontal">
        <mat-icon>gamepad</mat-icon>
        <h4>ITEMS - {{filteredProducts?.length}} RESULTS {{resultsString != '' ? 'FOR "' + resultsString + '"' : ''}}</h4>
      </nb-card-header>
      <nb-card-body>
        <app-product-list [products]="filteredProducts" [type]="'SHOP'"></app-product-list>
      </nb-card-body>
      <nb-card-footer></nb-card-footer>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
