nb-layout-column {
  display: flex;
  flex-wrap: wrap;
  gap: var(--large-gap);
}

.products-card nb-card-body {
  padding: 0;
}

.filters-card {
  width: calc(20% - 1.125rem);
}

.products-card {
  width: calc(80% - 1.125rem);
}

.light-weight {
  font-family: revert !important;
  font-weight: lighter;
}

nb-form-field button {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
