nb-button-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

nb-layout-column {
  display: flex;
  gap: 2.25rem;
}

.left-section {
  min-width: 250px;
}

.right-section {
  flex-grow: 1;
}

