<nb-layout>
  <nb-layout-header><app-navbar></app-navbar></nb-layout-header>
  <nb-layout-column>
    <nb-card class="left-section card-full-height">
      <nb-card-header class="horizontal"><mat-icon>dashboard</mat-icon><h4>MENU</h4></nb-card-header>
      <nb-card-body>
        <nb-button-group>
          <button class="horizontal" pressed nbButtonToggle (click)="selectedMenu = 'productManagement'"><mat-icon>store</mat-icon>Manage products</button>
          <button class="horizontal" nbButtonToggle (click)="selectedMenu = 'accountManagement'"><mat-icon>person</mat-icon>Manage accounts</button>
          <button class="horizontal" nbButtonToggle (click)="selectedMenu = 'orders'"><mat-icon>receipt</mat-icon>Manage orders</button>
        </nb-button-group>
      </nb-card-body>
    </nb-card>
    <app-product-management class="right-section" [style]="selectedMenu != 'productManagement' ? {'display': 'none'} : {}"></app-product-management>
    <app-account-management class="right-section" [style]="selectedMenu != 'accountManagement' ? {'display': 'none'} : {}"></app-account-management>
    <nb-card class="right-section orders-card card-full-height" [style]="selectedMenu != 'orders' ? {'display': 'none'} : {}">
      <nb-card-header class="horizontal"><mat-icon>receipt</mat-icon><h4>ORDERS</h4></nb-card-header>
      <nb-card-body><app-order-list [transactions]="transactions" type="administration"></app-order-list></nb-card-body>
      <nb-card-footer></nb-card-footer>
    </nb-card>
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
