nb-button-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

nb-layout-column {
  display: flex;
  gap: var(--large-gap);
}

.left-section {
  min-width: 275px;
}

nb-button-group button {
  border-radius: 0.25rem !important;
}

.right-section {
  flex-grow: 1;
}

.orders-card nb-card-body {
  padding: 0;
}

@media (max-width: 1400px) {
  .orders-card {
    height: 62vh;
  }
}

