  <nb-card>
    <nb-card-header><h4>Weet u het zeker?</h4></nb-card-header>
    <nb-card-body class="vertical gap">
      <p>{{actionText}}</p>
      <div class="account-info">
        <p>{{account?.email}}</p>
        <p>{{account?.name}}</p>
      </div>
      <p>{{consequenceText}}</p>
    </nb-card-body>
    <nb-card-footer class="horizontal gap">
      <button nbButton fullWidth status="danger" (click)="confirm()">Ja, ik weet het zeker</button>
      <button nbButton fullWidth (click)="close()">Annuleren</button>
    </nb-card-footer>
  </nb-card>





