<nb-layout>
  <nb-layout-header fixed><app-header></app-header></nb-layout-header>
  <nb-layout-column class="responsive-height-column">
    <div class="horizontal large-gap full-height card-container">
      <nb-card class="card width-50 full-height">
        <nb-card-header class="horizontal"><mat-icon>edit</mat-icon><h4>EDIT PROFILE</h4></nb-card-header>
        <nb-card-body>
          <div class="vertical gap">
            <div class="vertical">
              <label>First- and last name</label>
              <input nbInput fullWidth placeholder="Your name" [(ngModel)]="account.name">
              <small class="horizontal" style="color: #ff3d71" *ngIf="!accountRequirementsService.nameSufficient(account.name)">
                <div><nb-icon  icon="alert-circle-outline"></nb-icon></div>
                Name can't be empty.
              </small>
            </div>
            <div class="vertical">
              <label>E-mail address</label>
              <input nbInput fullWidth placeholder="Your e-mail address" [(ngModel)]="account.email">
              <small class="horizontal" style="color: #ff3d71" *ngIf="!accountRequirementsService.emailSufficient(account.email)">
                <div><nb-icon  icon="alert-circle-outline"></nb-icon></div>
                E-mail address must be valid.
              </small>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer class="vertical gap">
          <div class="horizontal gap">
            <button nbButton fullWidth status="primary" class="full-height" (click)="saveAccount()">Save</button>
            <button nbButton fullWidth class="full-height" (click)="setAccount()">Cancel</button>
            <button nbButton fullWidth class="full-height" status="danger" (click)="openDeleteDialog()">Delete account</button>
          </div>
        </nb-card-footer>
      </nb-card>
      <nb-card class="stretch card full-height">
        <nb-card-header class="horizontal"><mat-icon>lock</mat-icon><h4>CHANGE PASSWORD</h4></nb-card-header>
        <nb-card-body class="vertical gap">
          <div class="vertical">
            <label>Current password</label>
            <input nbInput fullWidth [(ngModel)]="oldPassword" type="password">
            <small class="horizontal" [style]="changePasswordCalled ? {'color': '#ff3d71'} : {}" *ngIf="!oldPasswordSufficient() && changePasswordCalled">
              <div><nb-icon icon="alert-circle-outline"></nb-icon></div>
              Password can't be empty.
            </small>
          </div>
          <div class="vertical">
            <label>New password</label>
            <input nbInput fullWidth [(ngModel)]="newPassword" type="password">
            <small class="horizontal" [style]="changePasswordCalled ? {'color': '#ff3d71'} : {}" *ngIf="!accountRequirementsService.passwordSufficient(newPassword)">
              <div><nb-icon icon="alert-circle-outline"></nb-icon></div>
              A password must be 8-32 characters long and must contain at least one lower-case letter, one upper-case letter, one special character and one number.
            </small>
          </div>
          <div class="vertical">
            <label>Confirm new password</label>
            <input nbInput fullWidth [(ngModel)]="newPasswordRepeat" type="password">
            <small class="horizontal" [style]="changePasswordCalled ? {'color': '#ff3d71'} : {}" *ngIf="changePasswordCalled && !passwordRepeatSufficient()">
              <div><nb-icon icon="alert-circle-outline"></nb-icon></div>
              Both passwords must be identical.
            </small>
          </div>
        </nb-card-body>
        <nb-card-footer class="horizontal gap">
          <button nbButton fullWidth (click)="changePassword()" status="primary" class="full-height">Change password</button>
          <button nbButton fullWidth (click)="setPasswordFieldsEmpty()" class="full-height">Cancel</button>
        </nb-card-footer>
      </nb-card>
    </div>
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
