h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.horizontal {
  align-items: center;
  display: flex;
  gap: 5px;
}

.gap {
  gap: 1vw;
}
