@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald !important;
  margin: 0;
  padding: 0
}

p {
  margin: 0;
  padding: 0
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.horizontal {
  align-items: center;
  display: flex;
  gap: 5px;
}

.gap {
  gap: 1vw;
}
