@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald !important;
  margin: 0 !important;
  padding: 0 !important;
}

input {
  font-weight: normal !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.horizontal {
  align-items: center;
  display: flex;
  gap: 5px;
}

.gap {
  gap: 1vw;
}

@keyframes fallIn {
  from {
    bottom: 70vh;
  }
  to {
    bottom: 0;
  }
}

.big-logo {
  position: relative;
  width: 100%;
  animation: 1s fallIn ease-out;
}
