<nb-card>
  <nb-card-header>
    <div class="horizontal"><mat-icon>person_add</mat-icon><h4>CREATE ACCOUNT</h4></div>
    <p [hidden]="type != 'REGISTER'">Create an account to access our catalogue of games.</p>
  </nb-card-header>
  <nb-card-body class="vertical gap">
    <div class="vertical">
      <label>First- and last name</label>
      <input nbInput fullWidth [status]="(!registerCalled || accountRequirementsService.nameSufficient(account?.name)) ? 'basic' : 'danger'" [(ngModel)]="account.name" placeholder="Enter name">
      <small class="horizontal" style="color: #ff3d71" [hidden]="!registerCalled || accountRequirementsService.nameSufficient(account?.name)">
        <div><nb-icon  icon="alert-circle-outline"></nb-icon></div>
        A name must be entered.</small>
    </div>
    <div class="vertical">
      <label>E-mail address</label>
      <input nbInput fullWidth [status]="(!registerCalled || accountRequirementsService.emailSufficient(account?.email)) ? 'basic' : 'danger'" [(ngModel)]="account.email" placeholder="Enter e-mail address">
      <small class="horizontal" style="color: #ff3d71" [hidden]="!registerCalled || accountRequirementsService.emailSufficient(account?.email)">
        <div><nb-icon icon="alert-circle-outline"></nb-icon></div>
        A valid e-mail address must be entered.
      </small>
    </div>
    <div class="vertical">
      <label>Password</label>
      <input nbInput fullWidth [status]="(!registerCalled || accountRequirementsService.passwordSufficient(account?.password)) ? 'basic' : 'danger'" type="password" [(ngModel)]="account.password" placeholder="Enter password">
      <small class="horizontal" [style]="registerCalled ? {'color': '#ff3d71'} : {}" [hidden]="accountRequirementsService.passwordSufficient(account?.password)">
        <div><nb-icon icon="alert-circle-outline"></nb-icon></div>
        A password must be 8-32 characters long and must contain at least one lower-case letter, one upper-case letter, one special character and one number.
      </small>
    </div>
    <div class="vertical">
      <label>Confirm password</label>
      <input nbInput fullWidth [status]="(!registerCalled || passwordRepeatSufficient()) ? 'basic' : 'danger'" type="password" [(ngModel)]="passwordRepeat" placeholder="Repeat password">
      <small class="horizontal" [style]="registerCalled ? {'color': '#ff3d71'} : {}" [hidden]="!registerCalled || passwordRepeatSufficient()">
        <div><nb-icon icon="alert-circle-outline"></nb-icon></div>
        Both passwords must be identical.
      </small>
    </div>
    <div [hidden]="type != 'ADMINISTRATION'" class="horizontal">
      <nb-toggle [(ngModel)]="account.administrator" labelPosition="start" class="horizontal">Administrator</nb-toggle>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton fullWidth status=primary (click)="register()">Create account</button>
  </nb-card-footer>
</nb-card>
