nb-layout-column {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.25rem;
}

@media (max-width: 800px) {
  .logo-column {
    display: none;
  }
}



