<nb-layout>
  <nb-layout-header fixed><app-navbar></app-navbar></nb-layout-header>
  <nb-layout-column>
    <app-account-create [type]="'REGISTER'"></app-account-create>
    <nb-card class="width-100">
      <nb-card-header>
        <p>Already have an account?</p>
      </nb-card-header>
      <nb-card-body class="vertical">
        <button nbButton [routerLink]="['/login']">To login</button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="logo-column">
    <img src="assets/images/Game%20Center%20Logo.png" alt="Game Center Logo" class="big-logo">
  </nb-layout-column>
  <nb-layout-footer><app-footer></app-footer></nb-layout-footer>
</nb-layout>
